
<div class="container">

<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <app-user-img [user]="user"
          (childEvent)="onMoreInfo($event)"></app-user-img>
      </div>
      <div class="col-sm-9 col-md-9">
        <app-user-info [user]="user">
          <!-- <header>Header info</header>
          <footer>Footer info</footer> -->
        </app-user-info>
      </div>
    </div>
  </li>
</ul>

<!-- <div [ngSwitch]="">
  <div *ngSwitchCase=""></div>
  <div *ngSwitchCase=""></div>
  <div *ngSwitchCase=""></div>
  <div *ngSwitchCase=""></div>
  <div *ngSwitchDefault>Default Output</div>
</div> -->

</div>


