<ng-content select="header"></ng-content>

<h4 [ngStyle] = "myStyle">{{ user.firstName | uppercase }} {{ user.lastName | uppercase }}</h4>

<!-- <p [ngClass]= "['my-border', 'my-feature']">Date of Birth : {{ user.dob }}</p> -->
<p [ngClass]= "myDynamicClass">Date of Birth : {{ user.dob | date : 'MM-dd-yyyy'}}</p>

<button (click) = "onToggleClasses()" class="btn btn-default">Toggle Classes</button>


<p *ngIf="user.isWorking">Income : <span [innerText]="user.income | currency : 'INR'"></span></p>
<p>
  Total Votes : {{ user.votes }}

  <input
    type="number"
    [value]="user.votes"
    (change)="user.votes = $event.target.value"
  />

  <input type="number" [(ngModel)]="user.votes" />
</p>

<ng-content select="footer"></ng-content>

<!-- <select [(ngModel)] = "country">
          <option value="india">India</option>
          <option value="europe">Europe</option>
        </select>

        <p>Selected Country : {{ country }}</p> -->
